<div class="container mt-5 mb-5">
    <!-- <img src="" width="100%"> -->
     <h1 class="text-center">About</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio ipsam sint ad harum ea, corporis iusto inventore totam adipisci! Minus, molestias aliquid? Ut molestiae vel praesentium mollitia quas, nobis provident.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dolore quasi officia magnam eum soluta consequuntur? Atque delectus sapiente ipsum, facere id, ducimus vel repudiandae modi totam eum, quibusdam natus.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam, quibusdam! Labore ipsa culpa laudantium natus ullam, dicta quibusdam. Rem, fuga autem cupiditate ipsam repellendus quae assumenda quidem nesciunt atque commodi.
        <br/>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim quisquam maiores doloremque eligendi commodi, perferendis dolorum ad, aspernatur qui cumque, ducimus porro. Consequuntur dolor quasi perferendis totam, ut ipsum ab.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt doloremque possimus mollitia asperiores sapiente sequi accusantium necessitatibus dolorem enim commodi cupiditate sit eveniet, totam saepe assumenda fugiat molestiae alias non!
        <br/>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus esse optio excepturi! Cumque quis, optio atque facilis perspiciatis beatae et qui laboriosam molestiae quia totam. Ipsa libero unde sit tempore!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. In, odio est dolorum omnis adipisci veritatis numquam vero quasi quisquam expedita repellendus ipsa commodi autem animi. Saepe minima dolorum doloribus praesentium.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt voluptas, a aliquid enim ipsum quidem nihil vel doloremque fuga molestias est rem quod corrupti tenetur maiores reiciendis deleniti placeat obcaecati!
    </p>
</div>